/* used to reset everything */
/* * {
    margin: 0;
    padding: 0;
} */

body {
    font-family: 'PT Sans', sans-serif, Arial;
    margin: 0;
}

header {
    background-color: #387301;
    color: white;
    padding: 0.5em;
}

a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
}

header h1 {
    margin: 0;
}

footer {
    background-color: #387301;
    color: white;
    padding: 0.5em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.checklist {
    list-style-type: none;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.checklist label {
    font-size: 20px;
}

#listOfChecklists {
    padding: 0;
    padding-left: 1em;
}

#uncheckButton {
    margin-left: 0.3em;
    width: 10em;
}

#indexLink {
    display: block;
    background-color: #387301;
    border: none;
    color: white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    margin: 0.3em 0.3em;
    cursor: pointer;
    width: 7em;
}